#{extends 'main.html' /}
#{set title:'Documentation' /}

<div class = "container"  height =50%>
               
                        <div class = "jumbotron" >
                                <center><h1>Documentation</h1> 
                        </div>              
 </div>
 <div>
 <li><a href="#tool"><h2> <font color="green" size ="5">What does this tool do?</font> </h2></a></li>
  <li> <a href="#better"> <h2> <font color="green" size ="5">Why is this tool better than using directly the ChEMBL endpoint?</font> </h2></a></li>
 <li> <a href="#desc"> <h2> <font color="green" size ="5"> Description of the terminology used in this tool.</font> </h2></a></li>
 <li> <a href="#work"><h2><font color="green" size ="5">Guide to use this tool.</font></h2> </a></li>
  <li> <a href="#nullRes"><h2><font color="green" size ="5">What if result is coming null?</font></h2></a></li>
 <li> <a href="#analogy"> <h2><font color="green" size ="5">An analogy to understand this tool.</font></h2> </a></li>
</div>
<hr> 
<div id="tool">
<h2> <font color="green">What does this tool do?</font> </h2>
<p>
<br>
This tool can help the researcher to retrieve the information through the federated triple stores, and to understand the schema. Most of the information comes from <a href="http://www.ebi.ac.uk/rdf/services/chembl/sparql">ChEMBL</a> triple store, a small drug like molecules store. Two other triple stores used are <a href="http://beta.sparql.uniprot.org">UniProt</a> for the proteins and their associated disease and <a href="http://www.ebi.ac.uk/rdf/services/reactome/sparql">Reactome</a> for the pathways. 
<br>
<br>
This tool has a form which allows to select the options according to your query related to compounds and their target and then submit. After submission, it generates the background SPARQL query that runs on the ChEMBL SPARQL endpoint and provides the results along with the generated SPARQL query.
<br>
<br>
Once you submit the selected options along with the texts in the fields according to your query, the results will produce in the new page. The limit of the number of results is 11. From this many results, you can decide that the generated SPARQL query is enough for your problem or need modification. Modify the query if needed. And finally execute the query on <a href="http://www.ebi.ac.uk/rdf/services/chembl/sparql">ChEMBL</a> SPARQL endpoint to produce more results. Look at <a href="http://www.ebi.ac.uk/rdf/faq/what-are-limitations-sparql-endpoints">limitation of ChEMBL SPARQL endpoint.</a>   
</p>
</div>
<hr>


<div id="better">
<h2> <font color="green">Why is this tool better than using directly the ChEMBL endpoint?</font> </h2>
<br>
This tool is more useful for the one who is not or less familiar with the triple store and a SPARQL query language. If you go to the ChEMBL SPARQL endpoint directly , besides the knowledge of the SPARQL query language, you would have to understand the schema of the triple store.
If you go to understand the schema and learn the SPARQL, can take a long time where this tool can help you. Here, you have to select the options and write the text in the fields that anyone can do. If not the complete solution, part of the solution and bit modification can help to solve your query completely.       

</div>
<hr>

<div id="desc">
<h2> <font color="green"> Description of the terminology used in this tool.</font> </h2>
<br>
<p id="substance">
<b>ChEMBL-id:</b> An identity provided to the most of the compounds and unique in ChEMBL triple store. 
<br>
<br>
<b>Alternate Name:</b> Alternative name of the compound, i.e. trade names.
<br>
<br>
<b>Highest Development Phase:</b> The highest phase the molecule has reached in the drug approval process (4 is approved, others are 0, 1,2 and 3).
<br>
<br>
<b>Substance Type:</b> States the type of compound either that is small molecule or protein or cell-line etc.
<br>
<br>
</p>
<p id ="activity">
<b>Standard Type:</b> Standardised version of the activity type, e.g. IC50 rather than Ic-50/Ic50/ic50/ic-50.
<br>
<br>
<b>Standard Value:</b> Standardised version of the activity value. Transformed to common units: e.g. all concentration values are converted to nanoMolar (nM), all time values are converted to minutes etc.
<br>
<br>
<b>Standard Relation:</b> Standardised version of the activity relation and is a symbol constraining the activity value (e.g. >, <, =).
<br>
<br>
<b>Standard Unit:</b> Standardised version of the activity units, e.g. concentrations are in nM.
<br>
<br>
</p>

<p id ="assay">
<b>Assay Label:</b> A unique identity provided to the assay.
<br>
<br>
<b>Assay Description:</b> Gives description about the assay.
<br>
<br>   
<b>Assay Type:</b> Assay classification, e.g. Binding assay, ADME assay or Functional assay.
<br>
<br>
<b>Target Confidence Score:</b> Confidence score, indicating how accurately the assigned target(s) represents the actually assay target. 0 = un-curated/unassigned, 1 = low confidence to 9 = high confidence.
<br>
<br>
<b>Target Confidence Description:</b> Description of the target types assigned with each Target Confidence Score.
<br>
<br>
<b>Target Relation Type:</b> Flag indicating of the relationship between the reported target in the source document and the assigned target.
<br>
<br>
<b>Target Relation Description:</b> Description about Target Relation Type.
<br>
<br>
</p>

<p id ="target">
<b>Target Label:</b> Labeling of the target.
<br>
<br>
<b>Target Title:</b> Title provided to the target.
<br>
<br>
<b>Target Type:</b> Describes whether target is a protein, an organism, a tissue etc. 
<br>
<br>
<b>Organism:</b> Source organism of molecular target or tissue, or the target organism if compound activity is reported in an organism rather than a protein or tissue.
</p>
</div>
<hr>

<div id ="work"> 
<h2><font color="green">Guide to use this tool?</font></h2>
<br>
<p>
The form has seven boxes to select the options along with the fields to write the text.
<br>
<br>
Different text colour in the form signifies that information has taken from the respective triple store. 
<br>
Black for the ChEMBL 
<br>
Blue for the UniProt  
<br>
Red for the Reactome  
<br>
<br>
The form has multiple selection options over all the boxes at a time. 
Box: 1's options are interlinked. If you want to retrieve all the targets corresponding to all the substances then you would have to select the intermediate options too, i.e. Activity and Assay.  
<br>
<br>
Apart from the first box, you have the freedom to choose the options whatever you want. 
<br>
 <br>
 If you want to filter the results by writing the text in the fields then make sure you have selected the corresponding option too.
 For example, if you are targeting the Homo Sapiens organism then beside writing the organism name in the field below the organism, you would have to select the Organism option too.  

<br>
<br>
The fields are for filtering your results. In the field of Published Date, Highest Development phase, Standard Value and TragetConfidence Score, write a digit along with the operator (< or > or =). For example, if you want the activity standard value less than 10 then in the field of Standard Value writes ‘< 10’. In the field of Journal Name, Standard Unit, Assay Type and Organism, write the appropriate text. 
<br>
<br>
The Reset button is there so you can reset the options if you need. 
<br>
<br>
<b>Example:</b>

Retrieve the ChEMBl molecules targeting Mycobacterium organism where activity standard unit contains 'nm' and activity standard value less than 10.
<br>
<br>

<b>Way to solve it:</b> You would have to select the following options: Substance, Activity, Assay, Target, ChEMBL-id, Standard Value, Standard Unit and Organism, and then in the field below Standard Unit, Standard value and organism write 'nm','<10' and 'mycobacterium' respectively. 
<br>
<a href="http://localhost:9001/ChEMBLQuery?details=%3Fmolecule+rdfs%3AsubClassOf+cco%3ASubstance.+%3Fmolecule+cco%3AhasActivity+%3Factivity.&details=%3Factivity+cco%3AhasAssay+%3Fassay.+%3Factivity+rdf%3Atype+cco%3AActivity.&details=%3Fassay+cco%3AhasTarget+%3Ftarget.+%3Fassay+rdf%3Atype+cco%3AAssay.&details=%3Ftarget+cco%3AhasTargetComponent+%3FtarComp+.+%3Ftarget+rdfs%3AsubClassOf+cco%3ATarget.+%3FtarComp+skos%3AexactMatch+%3Fprotein+.&details=%3Fmolecule+rdfs%3Alabel+%3FChEMBL_id.&details=%3Factivity+cco%3AstandardValue+%3FstdValue.&details=%3Factivity+cco%3AstandardUnits+%3FstdUnit.&unit=nm&value=%3C10&details=%3Ftarget+cco%3AorganismName+%3Forganism.&firstname=mycobacterium">See the results live</a>
<br>
<p><b>Snap-shot of the form</b></p> 
<br>
<img src="@{'/public/images/mycoBacFig3.png'}">
<br>
In the above snapshot, selected options have a gray colour background and the values written in the fields. The field is a part of filtering the results. If you are accurate with your search, you would have to replace the variable name from the generated SPARQL query with the exact value (take care of case sensitivity). For example, here, we have searched the unit 'nm', therefore, it will extract the units containing 'nm', such as 'nM', 'nmol/min' etc. If you are interested in just 'nM' then replace the variable name '?stdUnit' with 'nM' (?activity cco:standardUnits 'nM'.). Now, remove the FILTER line. <a href="http://tinyurl.com/qacha6r"> See the results live </a>     
<br>
<br>
      
<b>Note:</b> For the one who is trying the SPARQL query on the endpoint. Text inside field goes under FILTER construct of a SPARQL query that causes longer execution time. If you know the exact value to filter, from generated query remove the FILTER line and replace the variable name from remaining query. Now, execute the query on ChEMBL SPARQL endpoint. For example, if you want to search results which contains activity standard unit "nm" then in generated SPARQL query remove the FILTER line (?activity cco:standardUnit ?stdUnit) and replace the variable ?stdUnit from WHERE clause with ‘nM’. Remove the variable name from SELECT clause. After that executes it on <a href="http://www.ebi.ac.uk/rdf/services/chembl/sparql">ChEMBL Sparql endpoint</a>. 
</p>
</div>
<hr>
 
 <div id ="nullRes">
<h2><font color="green">What if result is coming null?</font></h2> 
<br>
There are two reasons for the result null.
<br>
<br>
1. Data is not present in the triple store for your query. 
<br>
<br>
2. You have filled the form incorrectly. 
<br>
<br>
There are three things to care during filling the form.
<br>
a. You have connected the sources of box 1 by selecting the in between options too. 
<br>
b. You have selected the option for the field to fill up. For example, to filter the results for the Mycobacterium organism beside writing text in the field, you would have to select the Organism option too.
<br>
c. You have used the operator (< or > or =) with a digit in filling the field (Published Date, Highest Development phase, Standard Value and TragetConfidence Score).       
</div>
<hr>
 
<div id ="analogy">
<h2><font color="green">An analogy to understand this tool.</font></h2> 
<br>
Consider there is a tree having varieties of fruits, i.e. unripe to ripe and small to large. As we know, the choice to eat the same fruit varies w.r.t. the people according to the varieties. It is very difficult to find the choice of all the people. In case, someone wants to serve the fruits to the people according to their choice. The best idea would be given the tools to them. The tool will help the people to pluck the fruits of their own choice. Similarly, here we are unable to answer all the biological problems related to the triple stores, therefore, we have built a platform that could help the researcher to find the solution of their problem in a bit easier way.   
</div>
<hr>
