#{extends 'main.html' /}
#{set title:'Home' /}

<div class = "container">
  <div class = "jumbotron">
  <center>
  <p>Retrieve information from <a href="http://www.ebi.ac.uk/rdf/services/chembl/sparql">ChEMBL</a>, <a href="http://beta.sparql.uniprot.org">UniProt</a>  and <a href="http://www.ebi.ac.uk/rdf/services/reactome/sparql">Reactome</a> triple stores using <a href="http://www.w3.org/standards/semanticweb">semantic web </a> technology.</p>
  <p style= "font-size:16px"> This tool has a form to select the options according to your problem related to compounds targeting proteins and then submit. After submission, it generates the background SPARQL query that runs on ChEMBL SPARQL endpoint and provides the results along with the generated SPARQL query.
    </p>
  <a class = "btn btn-success" href ="http://localhost:9001/start">Get Started</a>
  </center>
</div> 
</div> 


