#{extends 'main.html' /}
#{set title:'ReaChUniQue: Home' /}

<div class = "container">
  <div class = "jumbotron">
  <center>
  <p align= "center" ;class = "navbar-brand" style="background-color: ; font-size:40px"> <img src="@{'/public/images/favicon.png'}" height="60" width="60"><span style="color:blue">Rea</span><span style="color:green">Ch</span><span style="color:navy">Uni</span><span style="color:black">Que</span></p>
  
  <p>Help to retrieve normal and federated information through the <a href="http://www.ebi.ac.uk/rdf/services/chembl/sparql">ChEMBL</a>, <a href="http://beta.sparql.uniprot.org">UniProt</a>  and <a href="http://www.ebi.ac.uk/rdf/services/reactome/sparql">Reactome</a> triple stores using the <a href="http://www.w3.org/standards/semanticweb">semantic web </a> technology.</p>
 
  <a class = "btn btn-success" href ="/chembl/research/reachunique/start"><span class="glyphicon glyphicon-chevron-right"></span> Get Started</a>
  </center>
</div> 
</div> 


