#{extends 'main.html' /}
#{set title:'Home' /}

<div class = "container">
  <div class = "jumbotron">
  <center><a class = "btn btn-success" href ="http://localhost:9001/start">Get Started</a></center>
</div> 
</div> 


<div class = "container"> 
<p style= "font-size:20px">
Tool has been created to help the researcher who is looking for getting the information through federated triple stores and understanding the schema of triple stores. Most of the information has been taken from ChEMBL triple store, a small drug like molecules store and two other triple stores used are UniProt for proteins and their associated disease and Reactome for pathway. 
<br>
<br>
When you select the options from form according to your problem and submit then it generates the background SPARQL query that runs on ChEMBL SPARQL endpoint and provides the results (Limited to 11). It also provides the generated SPARQL query. 
<br>
<br>
As the query execute on ChEMBL SPARQL endpoint so it has same behavior and limitation as endpoint. You can see the more information about this on EBI RDF platform web page. Link is mentioned in footer of this page.  
</p>
<hr>
</div>