#{extends 'main.html' /}
#{set title:'start' /}

<p><font size="5" color="green"><b>Solve the problem</b></font></p> 
<p>Select the options according to your problem</p> 

<form action="@{ChEMBL()}" method="GET" style="width:40000px;">

  <select name="details" multiple  style="width: 150px">
  <option value='?molecule rdfs:subClassOf cco:Substance. ?molecule cco:hasActivity ?activity.'> Substance </option> 
  <option value="?activity cco:hasAssay ?assay. ?activity rdf:type cco:Activity."> Activity</a> </option> 
  <option value="?assay cco:hasTarget ?target. ?assay rdf:type cco:Assay.">Assay</option>   
  <option value="?target cco:hasTargetComponent ?tarComp . ?target rdfs:subClassOf cco:Target. ?tarComp skos:exactMatch ?protein .">Target</option>
  <option value="SERVICE <http://beta.sparql.uniprot.org/sparql> {?protein a up:Protein. ?protein up:annotation ?annotation.}"> Protein</option>
  <option value="SERVICE <http://www.ebi.ac.uk/rdf/services/reactome/sparql> {
  ?dbXref rdf:type biopax3:Protein .
  ?dbXref biopax3:memberPhysicalEntity [biopax3:entityReference ?protein  ] .
  ?pathway biopax3:displayName ?pathwayname .
  ?pathway biopax3:pathwayComponent ?reaction .
  ?reaction ?rel ?dbXref.
  }"> Pathway</option>
   </select>
 
 
 <select name="details" multiple style="width: 150px"> 
 <option value="?molecule rdfs:label ?ChEMBL_id.">ChEMBL-id</option>
 <option value="?molecule skos:prefLabel ?prefLabel.">prefLabe</option>
 <option value="?molecule cco:highestDevelopmentPhase ?highestDevelopmentPhase.">highestDevelopmentPhase</option>
 <option value="?molecule cco:substanceType ?substanceType.">substanceType</option>
 </select>
  
  <select name="details" multiple style="width: 150px">
  <option value="?activity cco:standardType ?stdType."> standardType </option> 
  <option value="?activity cco:standardValue ?stdValue.">standardValue</option>   
  <option value="?activity cco:standardRelation ?stdRelation.">standard Relation</option>
 <option value="?activity cco:standardUnits ?stdUnit.">standard Unit</option>
 </select>
 
 <select name="details" multiple style="width: 150px">
 <option value="?assay rdfs:label ?assayLabel.">assayLabel</option> 
 <option value="?assay dcterms:description ?assayDesc.">assayDesc</option>
 <option value="?assay cco:assayType ?assayType.">assayType</option>
 <option value="?assay cco:targetConfDesc ?targetConfDesc.">targetConfDesc</option>
 <option value="?assay cco:targetConfScore ?targetConfScore.">targetConfScore</option>
 <option value="?assay cco:targetRelType ?targetRelType.">targetRelType</option>
 <option value="?assay cco:targetRelDesc ?targetRelDesc.">targetRelDesc</option>
 </select>
 
  <select name="details" multiple style="width: 150px">
  <option value="?target rdfs:label ?targetLabel.">targetLabel</option>
  <option value="?target dcterms:title ?targetTitle.">targetTitle</option>
  <option value="?target cco:targetType ?targetType.">targetType</option>
  <option value="?target cco:organismName ?organism.">organism</option>
  </select>
  
 <select name="details" multiple style="width: 150px">
 <option value="SERVICE <http://beta.sparql.uniprot.org/sparql> {?protein a up:Protein. ?protein up:annotation ?annotation. ?annotation up:disease ?dis. ?dis skos:prefLabel ?disease. }">Disease</option>
 </select>
 
<input type="submit" value="Send"><input type="reset">

</form>


<p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>



<!--
<script type="text/javascript">
    $(function(){
        $("option").bind("dblclick", function(){
        window.location = this.href='http://localhost:9001/activity';
            
        });
    });
</script> 
-->