#{extends 'main.html' /}
#{set title:'ReaChUniQue: Start' /}

<script type="text/javascript">
function Confirm(form){
alert("Your query is ready to execute on ChEMBL SPARQL endpoint. The results will be displayed after execution. Execution time will depend on the query.");
form.submit();
}
select {
    height:36px;
    font-size:14px;
}
</script>

<!--
The main use of this page is to sends the information related to the user use to the controller. 
Information comes from filling the form.
-->


<div class = "container"  height =50%>
               
                        <div class = "jumbotron" >
                                <center>

<p><font size="5.5" color="green"><b>To solve your query: first fill up the form given below and then submit</b></font></p> 
<!--
<p><font size="2.5">To know more about how does this tool work, go to the <a href="/documentation">Documentation</a> page.</font></p>
-->
<p><font size="3">Different colour text in the box retrieves information from the respective triple store: black from the <a href="http://www.ebi.ac.uk/rdf/services/chembl/sparql">ChEMBL</a>, blue from the <a href="http://beta.sparql.uniprot.org">UniProt</a> and red from the <a href="http://www.ebi.ac.uk/rdf/services/reactome/sparql">Reactome</a>.</font></p> 

<p><font size="3">The tool uses the <a href="http://www.ebi.ac.uk/rdf/services/chembl/sparql">ChEMBL SPARQL endpoint</a> to execute your query, so it is worthy to look into the <a href="http://www.ebi.ac.uk/rdf/faq/what-are-limitations-sparql-endpoints">SPARQL endpoint limitation</a>.</font></p>  
<p><font size="3">If you select the options from the Box 1 including intermediate options then also select some of their properties to get the results. The Box 1 helps to link the sources and selection of only that will not give any results. You may interested in see the <a href="/visualisation"> connections</a> among these all the options.</font></p>
                        </center>

                        </div>              
 </div>
 
 
<p><font size="5" color="green"><b>Form</b></font></p> 
 
<form action="@{ChEMBL()}" method="GET" style="width:230px;">

<p id="tool" class="muted" style="margin-bottom: 0;"><a href="#" data-toggle="tooltip" title="Options inside this box help to link the sources. Select all the options in between your interest, i.e. if you are interested in finding the substance and their target then select the “Assay” and  “Activity” options too.  Then after, select options from respective properties of the source."><b> Box 1 <span class="glyphicon glyphicon-question-sign"></span></b></a> <b>:Main Sources </b></p>

  <select name="details" multiple size=5 style="width: 230px">
  <option value='?molecule cco:hasDocument ?document. ?document rdf:type cco:Document.'> Document</option> 
  <option value='?molecule rdfs:subClassOf cco:Substance. ?molecule cco:hasActivity ?activity.'> Substance </option> 
  <option value="?activity cco:hasAssay ?assay."> Activity</option> 
  <option value="?assay cco:hasTarget ?target.">Assay</option>   
  <option value="?target cco:hasTargetComponent ?tarComp. ?tarComp skos:exactMatch ?protein .">Target</option>
  </select>
  <select name="rec" size =2 style="width: 230px">
  <option class="red" value="SERVICE SILENT <http://www.ebi.ac.uk/rdf/services/reactome/sparql> {
  ?dbXref rdf:type biopax3:Protein. ?dbXref biopax3:memberPhysicalEntity [biopax3:entityReference ?protein]. ?pathway biopax3:displayName ?pathwayname. ?pathway biopax3:pathwayComponent ?reaction. ?reaction ?rel ?dbXref.}"> Pathway</option>
   </select>


<select name="uni" size =2 style="width: 230px">
  <option class="blue" value="?protein a up:Protein. ?protein up:recommendedName ?recommended."> Protein</option>
</select>
 <br>
 <br>  
 <p id="tool" class="muted" style="margin-bottom: 0;"><a href="#" data-toggle="tooltip" title="This box retrieves information about the properties of the document from where data has taken. Options inside this box are independent of each other. In given field below, you can write the text to filter the results if exist."><b> Box 2 <span class="glyphicon glyphicon-question-sign"></span></b></a> <b>:Properties of the document</b></p>

 <select name="details" multiple style="width: 230px"> 
 <option value="?document cco:hasJournal ?journal. ?journal dcterms:title ?journalName.">Journal Name</option>
 <option value="?document dcterms:date ?date.">Published Date</option>
 </select>
   Journal Name: <input type="text" name="journal" style="width: 180px">
   Published Date: <input type="text" name="date" style="width: 180px">
 
 <br>
 <br>
 <p id="tool" class="muted" style="margin-bottom: 0;"><a href="/documentation#substance" data-toggle="tooltip" title="This box retrieves information about the properties of the substance. Options inside this box are independent of each other. In given field below, you can write the text to filter the results if exist. Click to see the description of the properties."><b> Box 3 <span class="glyphicon glyphicon-question-sign"></span></b></a> <b>:Properties of the substance</b></p>  
 
 <select name="details" multiple style="width: 230px"> 
 <option value="?molecule rdfs:label ?ChEMBL_id."><a href="#"> ChEMBL-id</a></option>
 <option value="?molecule skos:altLabel ?altLabel.">Alternate Name</option>
 <option value="?molecule cco:highestDevelopmentPhase ?highestDevelopmentPhase.">Highest Development Phase</option>
 <option value="?molecule cco:substanceType ?substanceType.">Substance Type</option>
 </select>
   Highest Development Phase: <input type="text" name="phase" style="width: 180px">
  
 <br>
 <br>
 <p id="tool" class="muted" style="margin-bottom: 0;"><a href="/documentation#activity" data-toggle="tooltip" title="This box retrieves information about the properties of the activity. Options inside this box are independent of each other. In given field below, you can write the text to filter the results if exist. Click to see the description of the properties."><b> Box 4 <span class="glyphicon glyphicon-question-sign"></span></b></a> <b>:Properties of the activity</b></p>  
  
  <select name="details" multiple style="width: 230px">
  <option value="?activity cco:standardType ?stdType."> Standard Type </option> 
  <option value="?activity cco:standardValue ?stdValue.">Standard Value</option>   
  <option value="?activity cco:standardRelation ?stdRelation.">Standard Relation</option>
  <option value="?activity cco:standardUnits ?stdUnit.">Standard Unit</option>
 </select>
  Standard Value: <input type="text" name="value" style="width: 180px">
  Standard Unit: <input type="text" name="unit" style="width: 180px">

 <br>
 <br> 
  <p id="tool" class="muted" style="margin-bottom: 0;"><a href="/documentation#assay" data-toggle="tooltip" title="This box retrieves information about the properties of the assay. Options inside this box are independent of each other. In given field below, you can write the text to filter the results if exist. Click to see the description of the properties."><b> Box 5 <span class="glyphicon glyphicon-question-sign"></span></b></a> <b>:Properties of the assay</b></p>  
 
 <select name="details" multiple style="width: 230px">
 <option value="?assay rdfs:label ?assayLabel.">Assay Label</option> 
 <option value="?assay dcterms:description ?assayDesc.">Assay Description</option>
 <option value="?assay cco:assayType ?assayType.">Assay Type</option>
 <option value="?assay cco:targetConfScore ?targetConfScore.">Target Confidence Score</option>
 <option value="?assay cco:targetConfDesc ?targetConfDesc.">Target Confidence Description</option>
 <option value="?assay cco:targetRelType ?targetRelType.">Target Relation Type</option>
 <option value="?assay cco:targetRelDesc ?targetRelDesc.">Target Relation Description</option>
 </select>
  Assay Type: <input type="text" name="type" style="width: 180px">
  TargetConfidence Score: <input type="text" name="score" style="width: 180px">
 
 <br>
 <br>
 <p id="tool" class="muted" style="margin-bottom: 0";"><a href="/documentation#target" data-toggle="tooltip" title="This box retrieves information about the properties of the target. Options inside this box are independent of each other. In given field below, you can write the text to filter the results if exist. Click to see the description of the properties."><b> Box 6 <span class="glyphicon glyphicon-question-sign"></span></b></a> <b>:Properties of the target</b></p>  


  <select name="details" multiple style="width: 230px">
  <option value="?target rdfs:label ?targetLabel.">Target Label</option>
  <option value="?target dcterms:title ?targetTitle.">Target Title</option>
  <option value="?target cco:targetType ?targetType.">Target Type</option> 
  <option value="?target cco:organismName ?organism.">Organism</option>
   
  </select>
   Organism: <input type="text" name="firstname" style="width: 180px">
 <br>
 <br>
 <p id="tool" class="muted" style="margin-bottom: 0;"><a href="#" data-toggle="tooltip" title="This box retrieves information about the properties of the protein. Options inside this box are independent of each other. In given field below, you can write the text to filter the results if exist. "><b> Box 7 <span class="glyphicon glyphicon-question-sign"></span></b></a> <b>:Properties of the protein</b></p>  
 
 <select name="uni" multiple style="width: 230px">
 <option class="blue" value="?protein up:annotation ?annotation. ?annotation up:disease ?dis. ?dis skos:prefLabel ?disease.">Disease</option>
 <option class="blue" value="?protein up:sequence ?seq.  ?seq rdf:value ?aa.">Protein Sequence</option>
 
 </select>
 Disease: <input type="text" name="dis" style="width: 180px">
 
<br> 
<br> 
<input type="submit" style="background-color:#33FF99" value="Submit"  onClick="Confirm(this.form)"><input type="reset" style="background-color:#FF6633">

</form>


<p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>




