#{extends 'main.html' /}
#{set title:'visualisation' /}

<div class = "container"  height =50%>
               
                        <div class = "jumbotron" >
                                <center><h1>Connectivity</h1> 
                        </div>              
 </div>
 
 
 <img src="@{'/public/images/2.png'}">
 <hr>
  <img src="@{'/public/images/3.png'}">
 <hr>
  <img src="@{'/public/images/4.png'}">
 <hr>
  <img src="@{'/public/images/5.png'}">
 <hr>
  <img src="@{'/public/images/6.png'}">
 <hr>
  <img src="@{'/public/images/7.png'}">
 <hr>
  <img src="@{'/public/images/8.png'}">
 <hr>
 