#{extends 'main.html' /}
#{set title:'Connectivity' /}

<div class = "container"  height =50%>
               
                        <div class = "jumbotron" >
                                <center><h1>Connectivity</h1> 
                        </div>              
 </div>
 <p>
Here you can see the connectivity among options present in the form. This is about schema for this application. Similar
 schema image exist for triple store. Tool has followed triple store schema and tried to represent in bit simple way that 
 could help in understanding the actual schema image of triple store.
 
 <br>
 <br>You can see how the first box options are interconnected to each others. so if you will be interested in getting information 
 regarding Substance and their Target then you would have to select the Activity and Assay option too to make link between Substance and 
 their Target. Apart from first box, other boxes elements are independent of each other.
 
 <br>
 <br>
 If you want to filter elements by writing in box then make sure you have selected the corresponding option too.
 For example, You are interested in targeting  Homo Sapiens organism then beside writing organism name in box below Organism option you would have to select the Organism option too.  

 </p>
 <hr>
 
 <img src="@{'/public/images/2.png'}">
 <hr>
  <img src="@{'/public/images/3.png'}">
 <hr>
  <img src="@{'/public/images/4.png'}">
 <hr>
  <img src="@{'/public/images/5.png'}">
 <hr>
  <img src="@{'/public/images/6.png'}">
 <hr>
  <img src="@{'/public/images/7.png'}">
 <hr>
  <img src="@{'/public/images/8.png'}">
 <hr>
 