#{extends 'main.html' /}
#{set title:'ReaChUniQue: Connectivity' /}

<div class = "container"  height =50%>
               
                        <div class = "jumbotron" >
                                <center><h1>Connectivity</h1> 
                        </div>              
 </div>
 <p>
Here you can see the connectivity among options present in the form. This tells about schema for this application. The similar
 schema image exists for triple store. The tool has followed triple store schema. Here have tried to represent in a bit more simple way.
 
 <br>
 <br>You can see how the first box options are interconnected to each others. so if you will be interested in getting information 
 regarding substance and their target then you would have to select the Activity and Assay option too, to make a link between Substance and 
 their Target. Apart from the first box, other boxes elements are independent of each other.
 
 
 <br>
 <br>
 What does the term written inside the circular node mean, has been described in the <a href="/chembl/research/reachunique/documentation">Documentation</a> page.

 </p>
 <hr>
 
 <img src="@{'/public/images/2.png'}">
 <hr>
  <img src="@{'/public/images/3.png'}">
 <hr>
  <img src="@{'/public/images/4.png'}">
 <hr>
  <img src="@{'/public/images/5.png'}">
 <hr>
  <img src="@{'/public/images/6.png'}">
 <hr>
  <img src="@{'/public/images/7.png'}">
 <hr>
  <img src="@{'/public/images/8.png'}">
 <hr>
 